/* CSS */
body {
  color: #333;
  font-size: 14px;
  font-family: 'arial', sans-serif;
  line-height: 23px;
  margin: 0;
}
div,
span,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.bgcover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.animatecss {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  cursor: pointer;
}
a:hover,
a:active {
  color: inherit;
  text-decoration: underline;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.clear {
  clear: both;
}
.alpha {
  padding-left: 0 !important;
}
.omega {
  padding-right: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
img.border {
  border: 1px solid #B1B1B1;
  margin-bottom: 5%;
  max-width: 100%;
}
img.border:hover,
img.border:active {
  border: 1px solid #858585;
  cursor: pointer;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 1040px;
  padding-left: 10px;
  padding-right: 10px;
}
.imgwrp img {
  max-width: 100%;
}
img {
  max-width: 100%;
}
/* --------------------- HEADER LAYOUT --------------------- */
#headerweb {
  position: relative;
}
#headerweb .top {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}
#headerweb .top .left {
  display: inline-block;
  float: left;
}
#headerweb .top .right {
  display: inline-block;
  float: right;
}
#headerweb .top .right span {
  font-family: "WorkSansMedium";
  font-size: 11px;
  color: #e1e1e1;
}
#headerweb .top .center {
  display: inline-block;
  margin: 0 auto;
}
#headerweb .top .item {
  display: inline-block;
}
#headerweb .top .date {
  font-size: 11px;
  font-family: "WorkSansMedium";
  color: #ababab;
}
#headerweb .top .signbtn {
  font-family: "WorkSansMedium";
  font-size: 11px;
  color: #e1e1e1;
  border-left: #e1e1e1 solid 1px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: middle;
}
#headerweb .top .weather {
  font-family: "WorkSansRegular";
  color: #0088cf;
  font-size: 17px;
  padding: 0 7px;
}
#headerweb .top .imgmap {
  padding: 0 7px;
}
.container-mainmenu {
  z-index: 100;
}
.container-mainmenu .fixlogo {
  display: none;
  width: 100px;
  background: #fff;
  padding: 14px 7px;
}
.container-mainmenu.fixed {
  background: #0088cf;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.container-mainmenu.fixed .mainmenu {
  background: #0088cf;
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.container-mainmenu.fixed .mainmenu ul li {
  border-right: #269ad6 solid 1px;
}
.container-mainmenu.fixed .mainmenu ul li a {
  color: #fff;
  padding: 8px 4px;
}
.container-mainmenu.fixed .fixlogo {
  display: inline-block;
  background: #fff;
}
.container-mainmenu .valsubmenu {
  position: absolute;
  background: #252525;
  color: #fff;
  width: 100%;
  min-height: 100px;
  left: 0;
}
.container-mainmenu .valsubmenu a {
  color: #fff;
}
.wrp-searchinput {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: right;
  background: #0088cf;
  display: none;
}
.wrp-searchinput input[type="text"] {
  background: #0088cf;
  border-style: none;
  border-bottom: #fff solid 1px;
  width: 90%;
  color: #fff;
  text-align: right;
  padding: 5px 10px;
  display: inline-block;
}
.wrp-searchinput input[type="submit"] {
  font-family: "FontAwesome";
  width: 30px;
  height: 30px;
  display: inline-block;
  background: #f76900;
  border-style: none;
  color: #fff;
  font-size: 17px;
  position: relative;
  top: 5px;
}
.wrp-searchinput .close-search {
  background: #0088cf;
  color: #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  font-size: 17px;
  position: relative;
  top: 4px;
}
.wrp-searchinput.active {
  display: block;
}
.mainmenu {
  background: #fff;
  color: #000;
  font-family: "WorkSansBold";
  font-size: 11px;
  border-top: #e1e1e1 solid 7px;
  border-bottom: #eff0f0 solid 1px;
  padding: 8px 0;
}
.mainmenu ul {
  margin-bottom: 0;
}
.mainmenu ul li {
  display: inline-block;
  text-align: center;
  border-right: #ebebeb solid 1px;
  vertical-align: middle;
  margin-left: -1px;
  margin-right: -1px;
}
.mainmenu ul li a {
  color: #000;
  padding: 0px 7.5px;
  display: block;
}
.mainmenu ul li:last-child {
  border-right: 0;
}
.nav-mobile {
  background: #0088cf;
  color: #fff;
  display: block;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
  font-family: "WorkSansBold";
  cursor: pointer;
}
.nav-mobile .wrp-span {
  display: inline-block;
  vertical-align: middle;
}
.nav-mobile .wrp-span span {
  background: #fff;
  display: block;
  width: 30px;
  height: 3px;
  margin: 3px 2px;
}
/* --------------------- END HEADER LAYOUT --------------------- */
/* --------------------- BODYWEB LAYOUT --------------------- */
.container-bodysilver {
  min-height: 200px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.banertop {
  padding: 40px 0;
  text-align: center;
}
.container-mainnews {
  text-align: left;
  font-family: "WorkSansMedium";
  font-size: 14px;
  line-height: 17px;
}
.container-mainnews .subtitle {
  text-align: left;
}
.container-mainnews .subtitle .imgwrp {
  display: block;
}
.container-mainnews .subtitle a {
  display: inline-block;
  background: #0088cf;
  color: #fff;
  padding: 1px 5px;
  font-family: "WorkSansBold";
  line-height: 17px;
  font-size: 17px;
  margin: 10px 0;
}
.container-mainnews .subtitle .time {
  background: url("../images/icon-time.png") no-repeat left center;
  padding-left: 20px;
  text-align: left;
  font-family: "WorkSansMedium";
  font-size: 10px;
  color: #ababab;
}
.container-mainnews h2 {
  font-family: "PTF75F";
  color: #000;
  font-size: 38px;
  margin: 5px 0;
  margin-bottom: 10px;
}
.container-mainnews .content {
  position: relative;
  overflow: hidden;
}
.container-mainnews .content .detailtxt {
  min-height: 175px;
}
.container-mainnews .content hr {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f76900;
  width: 70px;
  height: 5px;
  margin: 0;
  border: none;
}
.time {
  background: url("../images/icon-time.png") no-repeat left center;
  padding-left: 20px;
  text-align: left;
  font-family: "WorkSansMedium";
  font-size: 10px;
  color: #ababab;
}
.time-small {
  background: url("../images/icon-time-small.png") no-repeat left center;
  padding-left: 14px;
  text-align: left;
  font-family: "WorkSansMedium";
  font-size: 10px;
  color: #ababab;
}
.container-itemmainnews {
  text-align: left;
  font-family: "WorkSansMedium";
  font-size: 14px;
  color: #000;
  margin: 20px 0;
}
.container-itemmainnews .itemmainnews {
  display: block;
  text-align: left;
  line-height: 20px;
  border: #d7d7d7 solid 1px;
  margin: 10px 0;
}
.container-itemmainnews .itemmainnews.orange .infotag a {
  background: #f76900;
}
.container-itemmainnews .itemmainnews.green .infotag a {
  background: #00a651;
}
.container-itemmainnews .itemmainnews.purple2 .infotag a {
  background: #aa54ca;
}
.container-itemmainnews .itemmainnews.blue .infotag a {
  background: #0088cf;
}
.container-itemmainnews .content {
  background: #fff;
  padding: 20px;
}
.container-itemmainnews h5 {
  margin: 0;
  font-size: 20px;
  font-family: "PTF75F";
  color: #000;
  line-height: 25px;
  text-align: left;
  min-height: 77px;
  margin-bottom: 10px;
}
.container-itemmainnews a {
  opacity: 1;
}
.container-itemmainnews .infotag a {
  display: inline-block;
  color: #fff;
  padding: 0px 5px;
  font-size: 11px;
  font-family: "WorkSansBold";
  text-transform: uppercase;
}
.container-itemmainnews .infotag .time {
  display: inline-block;
}
.title-item {
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}
.title-item span {
  background: #fff;
  display: inline-block;
  font-family: "WorkSansBold";
  font-size: 16px;
  color: #ababab;
  position: relative;
  z-index: 5;
  padding-right: 5px;
}
.title-item hr {
  display: block;
  position: absolute;
  margin: 0;
  border: none;
  height: 7px;
  width: 100%;
  left: 0;
  top: 9px;
  background: #ebebeb;
}
.container-toplatestmost {
  padding: 30px 0;
}
.container-smallnews .wrp-itemnews {
  text-align: left;
  font-family: "PTF75F";
  color: #000;
  font-size: 15px;
  margin-bottom: 45px;
}
.container-smallnews .wrp-itemnews .item-news {
  padding: 10px 12px;
  padding-left: 106px;
  min-height: 73px;
  position: relative;
}
.container-smallnews .wrp-itemnews.noimg .item-news {
  padding: 10px 12px;
}
.container-smallnews h4 {
  margin: 0;
  margin-bottom: 2px;
  font-size: 15px;
}
.container-smallnews .item-news {
  background: #eff0f0;
  border-bottom: #e1e1e1 solid 1px;
}
.container-smallnews .item-news .imgwrp {
  position: absolute;
  left: 12px;
  top: 10px;
}
.container-smallnews .item-news:last-child {
  border-bottom: none;
}
.container-slidesmall,
.container-fullslide {
  position: relative;
  margin-bottom: 30px;
}
.container-slidesmall .owl-carousel,
.container-fullslide .owl-carousel {
  z-index: 10;
}
.container-slidesmall .owl-controls .owl-buttons,
.container-fullslide .owl-controls .owl-buttons {
  display: none;
}
.container-slidesmall .owl-controls .owl-pagination,
.container-fullslide .owl-controls .owl-pagination {
  position: absolute;
  top: 0;
  left: 110px;
  margin-top: -40px;
  background: #fff;
  padding: 0 10px;
}
.container-slidesmall .owl-controls .owl-pagination .owl-page span,
.container-fullslide .owl-controls .owl-pagination .owl-page span {
  background: #e1e1e1;
  margin: 5px 3px;
  opacity: 1;
  width: 9px;
  height: 9px;
}
.container-slidesmall .owl-controls .owl-pagination .owl-page.active span,
.container-fullslide .owl-controls .owl-pagination .owl-page.active span {
  background: #0088cf;
  opacity: 1;
}
.container-fullslide {
  margin: 40px 0;
}
.container-fullslide .owl-controls .owl-pagination,
.container-fullslide .container-fullslide .owl-controls .owl-pagination {
  left: 92px;
}
.container-fullslide .wrp-smallnews h4 {
  font-size: 16px;
  line-height: 20px;
}
.wrp-smallnews {
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
}
.wrp-smallnews .imgwrp {
  position: relative;
}
.wrp-smallnews .subtitle {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  font-family: "WorkSansBold";
  font-size: 10px;
}
.wrp-smallnews .subtitle a {
  color: #fff;
  display: block;
  padding-left: 10px;
  text-transform: uppercase;
}
.wrp-smallnews h4 {
  font-size: 14px;
  font-family: "PTF75F";
  color: #000;
  margin-bottom: 0;
}
.wrp-smallnews .date {
  font-family: "WorkSansMedium";
  font-size: 10px;
}
.wrp-smallnews.blue .subtitle a {
  border-left: #0088cf solid 5px;
}
.wrp-smallnews.purple .subtitle a {
  border-left: #aa54ca solid 5px;
}
.wrp-smallnews.blue .subtitle a {
  border-left: #0088cf solid 5px;
}
.wrp-smallnews.green .subtitle a {
  border-left: #00a651 solid 5px;
}
.wrp-smallnews.orange .subtitle a {
  border-left: #f76900 solid 5px;
}
.container-news .mainimg {
  position: relative;
  font-family: "PTF75F";
  text-align: left;
  margin-bottom: 30px;
}
.container-news .mainimg a {
  color: #fff;
}
.container-news .mainimg h5 {
  font-size: 10px;
  margin: 0;
  position: absolute;
  left: 15px;
  top: 15px;
}
.container-news .mainimg h3 {
  font-size: 16px;
  margin: 0;
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 93%;
}
.container-roundnews {
  position: relative;
  text-align: left;
  font-family: "PTF75F";
}
.container-roundnews .item-news {
  position: relative;
  padding-left: 90px;
  margin-bottom: 35px;
  min-height: 70px;
}
.container-roundnews .item-news .imgwrp {
  position: absolute;
  left: 0;
  top: 0;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  overflow: hidden;
}
.container-roundnews h4 {
  margin: 0;
  padding: 5px 0;
  padding-bottom: 0;
  font-size: 16px;
}
.container-roundnews .tag {
  font-family: "WorkSansBold";
  font-size: 10px;
  text-transform: uppercase;
  color: #0088cf;
}
.container-roundnews .tag a {
  color: #0088cf;
}
.banercenter {
  padding: 20px 0;
  padding-bottom: 40px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.container-bgjpid {
  background: url("../images/bgjpid.jpg") bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100px;
  margin-top: 30px;
}
.container-bgjpid .content {
  position: relative;
  top: -40px;
}
.container-bgjpid .title {
  display: block;
  text-align: left;
  overflow: hidden;
  position: relative;
}
.container-bgjpid .title a {
  display: inline-block;
  color: #98a3b1;
  font-family: "WorkSansMedium";
  font-size: 10px;
  position: absolute;
  right: 0;
  bottom: 7px;
}
.container-bgjpid .title-jpid {
  display: inline-block;
  font-family: "CamptonBoldDEMO";
  background: url("../images/icon-jpid.jpg") #000000 no-repeat top left;
  padding-left: 100px;
  height: 78px;
  color: #fff;
  padding-top: 20px;
  padding-right: 20px;
}
.container-bgjpid .title-jpid h4 {
  margin: 0;
  font-size: 24px;
  color: #fff;
  line-height: 20px;
  font-style: italic;
}
.container-bgjpid .title-jpid h4:last-child {
  margin-left: 20px;
}
.wrp-listjpid {
  overflow: hidden;
}
.wrp-listjpid .col-md-4 {
  padding: 0 !important;
}
.wrp-listjpid .item-jpid {
  position: relative;
  min-height: 340px;
}
.wrp-listjpid .item-jpid .content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  top: auto;
  height: auto;
  text-align: left;
  font-family: "WorkSansBold";
  width: 90%;
}
.wrp-listjpid .item-jpid .content h5 {
  font-size: 15px;
  color: #f76900;
  margin: 0;
  margin-bottom: 3px;
}
.wrp-listjpid .item-jpid .content h5 a {
  color: #f76900;
}
.wrp-listjpid .item-jpid .content h3 {
  color: #fff;
  margin: 0;
  font-size: 24px;
}
.wrp-listjpid .item-jpid .content h3 a {
  color: #fff;
}
.wrp-listjpid .item-jpid .row-half {
  display: block;
  position: relative;
  overflow: hidden;
}
.wrp-listjpid .item-jpid .row-half h3 {
  font-size: 15px;
  margin: 0;
  position: absolute;
  left: 45%;
  top: 25%;
  line-height: 23px;
  max-width: 160px;
  text-align: left;
}
.wrp-listjpid .item-jpid .row-half a {
  color: #000;
  font-family: "WorkSansBold";
  background: #fff;
  padding: 3px 5px;
}
.wrp-listjpid .item-jpid .row-half a:hover {
  text-decoration: none;
  background: #f76900;
  color: #fff;
}
.wrp-listjpid .item-jpid .row-half .itemhalf {
  float: left;
  width: 50%;
}
.wrp-listjpid .item-jpid .row-half .itemhalf img {
  width: 100%;
  max-width: none;
}
.wrp-listjpid .item-jpid .row-half:last-child h3 {
  text-align: right;
  left: auto;
  right: 45%;
  top: 25%;
}
.container-categories {
  margin-top: 30px;
}
.wrp-listcategory {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.wrp-listcategory .col-md-6 {
  vertical-align: top;
  float: none;
  display: inline-block;
  margin-left: -1px;
  margin-right: -1px;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.wrp-listcategory .item-category {
  text-align: left;
  margin-bottom: 30px;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.wrp-listcategory .item-category div {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.wrp-listcategory .item-category .title {
  font-family: "PTF75F";
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}
.wrp-listcategory .item-category .title span {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  display: inline-block;
  background: #f76900;
  border-radius: 50%;
  position: relative;
  top: -2px;
}
.wrp-listcategory .item-category .imgwrp {
  border-bottom: #f76900 solid 7px;
}
.wrp-listcategory .item-category .wrp-itemvideo {
  margin-top: 20px;
  display: none;
}
.wrp-listcategory .item-category .wrp-itemvideo .item-video {
  display: inline-block;
}
.wrp-listcategory .item-category .wrp-itemvideo .content-video {
  display: inline-block;
  width: 180px;
  font-size: 14px;
  padding-right: 10px;
  padding-left: 15px;
  vertical-align: top;
  color: #fff;
}
.wrp-listcategory .item-category .wrp-itemvideo .content-video a {
  color: #fff;
}
.wrp-listcategory .item-category h4 {
  font-family: "PTF75F";
  font-size: 19px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 7px;
  min-height: 64px;
}
.wrp-listcategory .item-category ul li {
  border-top: #ababab solid 1px;
  font-family: "WorkSansMedium";
  font-size: 14px;
  line-height: 17px;
  padding: 5px 0;
}
.wrp-listcategory .item-category:hover {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.wrp-listcategory .item-category:hover .wrp-itemvideo {
  display: block;
}
.wrp-listcategory .item-category:hover div {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.wrp-listcategory .item-category:hover .content-item {
  padding: 7px;
}
.wrp-listcategory .item-category:hover .content-item a {
  color: #fff;
}
.wrp-listcategory .item-category.red .title span {
  background: #d20008;
}
.wrp-listcategory .item-category.red .imgwrp {
  border-bottom: #d20008 solid 7px;
}
.wrp-listcategory .item-category.red:hover .content-item {
  background: #d20008;
}
.wrp-listcategory .item-category.purple .title span {
  background: #aa54ca;
}
.wrp-listcategory .item-category.purple .imgwrp {
  border-bottom: #aa54ca solid 7px;
}
.wrp-listcategory .item-category.purple:hover .content-item {
  background: #aa54ca;
}
.wrp-listcategory .item-category.green .title span {
  background: #00a651;
}
.wrp-listcategory .item-category.green .imgwrp {
  border-bottom: #00a651 solid 7px;
}
.wrp-listcategory .item-category.green:hover .content-item {
  background: #00a651;
}
.wrp-listcategory .item-category.blue .title span {
  background: #0088cf;
}
.wrp-listcategory .item-category.blue .imgwrp {
  border-bottom: #0088cf solid 7px;
}
.wrp-listcategory .item-category.blue:hover .content-item {
  background: #0088cf;
}
.wrp-listcategory .item-category.blue2 .title span {
  background: #0088cf;
}
.wrp-listcategory .item-category.blue2 .imgwrp {
  border-bottom: #0088cf solid 7px;
}
.wrp-listcategory .item-category.blue2:hover .content-item {
  background: #0088cf;
}
.wrp-listcategory .item-category.pink .title span {
  background: #ff83af;
}
.wrp-listcategory .item-category.pink .imgwrp {
  border-bottom: #ff83af solid 7px;
}
.wrp-listcategory .item-category.pink:hover .content-item {
  background: #ff83af;
}
.wrp-listcategory .item-category.orange .title span {
  background: #f76900;
}
.wrp-listcategory .item-category.orange .imgwrp {
  border-bottom: #f76900 solid 7px;
}
.wrp-listcategory .item-category.orange:hover .content-item {
  background: #f76900;
}
.wrp-listcategory .item-category.green2 .title span {
  background: #56d0c9;
}
.wrp-listcategory .item-category.green2 .imgwrp {
  border-bottom: #56d0c9 solid 7px;
}
.wrp-listcategory .item-category.green2:hover .content-item {
  background: #56d0c9;
}
.wrp-listcategory .item-category.yellow .title span {
  background: #ffb400;
}
.wrp-listcategory .item-category.yellow .imgwrp {
  border-bottom: #ffb400 solid 7px;
}
.wrp-listcategory .item-category.yellow:hover .content-item {
  background: #ffb400;
}
.itemright {
  margin-bottom: 30px;
}
.wrp-listkolom {
  display: block;
}
.wrp-listkolom .item-kolom {
  position: relative;
  padding-left: 55px;
  text-align: left;
  min-height: 55px;
  margin-bottom: 15px;
}
.wrp-listkolom .item-kolom .imgwrp {
  position: absolute;
  left: 0;
  top: 5px;
  width: 47px;
  height: 47px;
  overflow: hidden;
}
.wrp-listkolom span {
  color: #f76900;
  font-size: 10px;
  font-family: "WorkSansMedium";
}
.wrp-listkolom h5 {
  margin: 0;
  font-size: 14px;
  font-family: "PTF75F";
  color: #000;
}
.wrp-righartikel {
  border: #ebebeb solid 1px;
}
.wrp-righartikel .content {
  background: #f5f6f6;
  text-align: left;
  padding: 20px ;
  font-family: "WorkSansMedium";
  font-size: 12.9px;
  line-height: 17px;
  color: #666;
  padding-right: 30px;
}
.wrp-righartikel h5 {
  margin: 0;
  margin-bottom: 10px;
  font-family: "PTF75F";
  font-size: 16px;
  color: #000;
}
.wrp-righartikel p {
  margin: 0;
}
.wrp-trendingright {
  background: url("../images/rounded.png") right top no-repeat #f5f6f6;
  text-align: left;
  position: relative;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 0;
}
.wrp-trendingright h3 {
  margin: 0;
  font-size: 30px;
  font-family: "PTF75F";
  color: #474747;
}
.wrp-trendingright ul {
  margin-bottom: 0;
}
.wrp-trendingright ul li {
  display: block;
  border-bottom: #ebebeb solid 1px;
  padding: 6px 0;
}
.wrp-jawaposradar .wrp-itemnews {
  background: #f5f6f6;
  text-align: left;
  font-family: "PTF75F";
  color: #000;
  font-size: 15px;
  margin-bottom: 45px;
}
.wrp-jawaposradar .wrp-itemnews .item-news {
  padding: 10px 12px;
  padding-left: 106px;
  min-height: 73px;
  position: relative;
  background: #eff0f0;
  border-bottom: #e1e1e1 solid 1px;
}
.wrp-jawaposradar .wrp-itemnews .imgwrp {
  position: absolute;
  left: 12px;
  top: 10px;
}
.wrp-jawaposradar .wrp-itemnews .item-news:last-child {
  border-bottom: none;
}
.wrp-jawaposradar h4 {
  margin: 0;
  margin-bottom: 2px;
  font-size: 14px;
}
.wrp-subscribe {
  background: #0088cf;
  color: #fff;
  padding: 20px;
  text-align: left;
  font-size: 12.9px;
  font-family: "WorkSansMedium";
  line-height: 20px;
}
.wrp-subscribe h4 {
  font-size: 30px;
  font-family: "PTF75F";
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
}
.wrp-subscribe .wrp-inputsbscribe {
  margin-bottom: 20px;
}
.wrp-subscribe input[type="text"] {
  border-style: none;
  background: #33a0d9;
  border: #80c4e7 solid 1px;
  color: #fff;
  padding: 7px 10px;
  max-width: 190px;
  display: inline-block;
  margin-left: -2px;
  margin-right: -2px;
}
.wrp-subscribe input[type="submit"],
.wrp-subscribe input[type="button"] {
  border-style: none;
  background: #f76900;
  display: inline-block;
  margin-left: -3px;
  margin-right: -2px;
  color: #fff;
  font-family: "WorkSansBold";
  font-size: 14px;
  padding: 8px 10px;
  position: relative;
}
.wrp-subscribe .wrp-socmed a {
  display: inline-block;
  margin-right: 8px;
}
.wrp-subscribe .wrp-socmed a:last-child {
  margin-right: 0;
}
.wrpbaner {
  border: #ebebeb solid 1px;
}
.wrpbaner img {
  width: 100%;
}
.digitalnews {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+0,f5f5f5+47,eaeaea+73,d3d3d3+100 */
  background: #f5f5f5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f5f5f5 0%, #f5f5f5 47%, #eaeaea 73%, #d3d3d3 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #f5f5f5 47%, #eaeaea 73%, #d3d3d3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 47%, #eaeaea 73%, #d3d3d3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#d3d3d3', GradientType=0);
  /* IE6-9 */
  width: 100%;
  min-height: 100px;
  text-align: left;
  padding: 20px 20px 0 20px;
  font-family: "WorkSansMedium";
  font-size: 14px;
}
.digitalnews .imgnews {
  display: inline-block;
  width: 46%;
}
.digitalnews .content {
  display: inline-block;
  width: 52%;
  vertical-align: top;
  padding-top: 10px;
}
.digitalnews h5 {
  margin: 0;
  font-size: 22px;
  color: #0088cf;
  font-family: "PTF75F";
  margin-bottom: 15px;
}
.digitalnews a {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  line-height: 17px;
}
/* --------------------- END BODYWEB LAYOUT --------------------- */
/* --------------------- FOOTER LAYOUT --------------------- */
#footerweb {
  background: #252525;
  color: #fff;
  overflow: hidden;
}
#footerweb .top {
  padding: 40px 0;
  padding-bottom: 20px;
  overflow: hidden;
}
#footerweb .bottom {
  padding-top: 10px;
  padding-bottom: 30px;
  overflow: hidden;
}
.wrp-itemfooter .col {
  float: left;
}
.wrp-itemfooter h5 {
  font-size: 15px;
  font-family: "WorkSansBold";
  margin-top: 0;
}
.wrp-itemfooter h4 {
  font-size: 20px;
  font-family: "WorkSansBold";
  margin-top: 0;
  color: #f76900;
}
.wrp-itemfooter h4 a {
  color: #f76900;
}
.wrp-itemfooter h6 {
  font-size: 12px;
  font-family: "WorkSansRegular";
  margin-top: 0;
  color: #0088cf;
}
.wrp-itemfooter h6 a {
  color: #0088cf;
}
.wrp-itemfooter ul li {
  font-size: 12px;
}
.wrp-itemfooter a {
  color: #fff;
}
.wrp-itemfooter .col-item-8 {
  width: 12.5%;
  text-align: left;
}
.wrp-itemfooter .col-item-4 {
  width: 25%;
  text-align: left;
}
.socmedfooter {
  text-align: right;
}
.socmedfooter .wrp-socmed {
  text-align: right;
  margin-top: 7px;
}
.socmedfooter .wrp-socmed a {
  margin-right: 5px;
}
.socmedfooter .wrp-socmed a:last-child {
  margin-right: 0;
}
.socmedfooter .wrp-socmed img {
  max-width: 25px;
}
.footerblue {
  background: #0088cf;
  color: #fff;
  min-height: 20px;
  width: 100%;
  font-family: "WorkSansRegular";
  font-size: 11px;
  padding: 7px 0;
}
.footerblue ul {
  margin: 0;
  display: inline-block;
}
.footerblue ul li {
  display: inline-block;
  padding: 0 5px;
  border-left: #fff solid 1px;
  line-height: 12px;
}
.footerblue ul li:first-child {
  border-left: none;
}
.footerblue .col-md-9 {
  text-align: right;
}
.gotop {
  background: #f76900;
  color: #fff;
  width: 20px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  padding-left: 7px;
}
/* --------------------- END FOOTER LAYOUT --------------------- */
/* Mobile device */
@media (max-width: 767px) {
  #headerweb .top .left {
    float: none;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  #headerweb .top .right {
    float: none;
    display: block;
    text-align: center;
  }
  #headerweb .top .weather {
    border-right: none;
  }
  .mainmenu {
    display: none;
  }
  .mainmenu ul li {
    width: 50%;
  }
  .mainmenu ul li a {
    display: block;
  }
  .banertop {
    padding: 20px 0;
  }
  .wrp-searchinput {
    position: relative;
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
  .wrp-searchinput input[type="text"] {
    width: 70%;
  }
  .container-mainnews h2 {
    font-size: 26px;
  }
  .container-mainnews .content .detailtxt {
    min-height: 10px;
    margin-bottom: 10px;
  }
  .container-mainnews .content hr {
    margin-bottom: 30px;
    position: relative;
  }
  .wrp-smallnews .imgwrp img {
    width: 100%;
  }
  .banercenter {
    padding: 20px 0 20px;
  }
  .container-bgjpid .title a {
    position: relative;
    color: #fff;
    bottom: auto;
    padding: 10px 0;
    font-size: 16px;
  }
  .container-bgjpid .title-jpid {
    padding-top: 10px;
  }
  .wrp-listjpid .item-jpid {
    min-height: 10px;
    margin-bottom: 30px;
  }
  .wrp-subscribe input[type="text"] {
    width: 100%;
    margin: 10px 0;
    margin-top: 0;
    display: block;
    max-width: none;
  }
  .wrp-subscribe input[type="submit"],
  .wrp-subscribe .wrp-subscribe input[type="button"] {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .wrp-subscribe .wrp-socmed a {
    float: none;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
  }
  .wrp-itemfooter .col-item-8 {
    width: 50%;
  }
  .wrp-itemfooter .col-item-4 {
    width: 100%;
    text-align: center;
  }
  .wrp-itemfooter .socmedfooter {
    text-align: center;
  }
  .wrp-itemfooter .socmedfooter .wrp-socmed {
    text-align: center;
  }
  .footerblue .col-md-9 {
    text-align: center;
  }
  .gotop {
    margin: 10px;
    width: 40px;
    height: 37px;
    font-size: 20px;
    padding-left: 8px;
  }
}
/* Tablet device */
@media (min-width: 768px) and (max-width: 991px) {
  .container-mainnews .content {
    margin-bottom: 30px;
  }
  .container-mainnews .content .detailtxt {
    min-height: 20px;
  }
  .container-itemmainnews .itemmainnews .imgwrp {
    text-align: center;
  }
  .container-itemmainnews .itemmainnews h5 {
    min-height: 10px;
  }
  .wrp-smallnews .imgwrp img {
    width: 100%;
  }
  .container-news .mainimg img {
    width: 100%;
  }
  .wrp-listjpid .item-jpid .imgwrp img {
    width: 100%;
  }
  .wrp-listcategory .item-category .imgwrp img {
    width: 100%;
  }
  .wrp-itemfooter .col-item-8 {
    width: 33.333%;
  }
  .wrp-itemfooter .col-item-4 {
    width: 100%;
    text-align: center;
  }
  .wrp-itemfooter .socmedfooter {
    text-align: center;
  }
  .wrp-itemfooter .socmedfooter .wrp-socmed {
    text-align: center;
  }
  .footerblue .col-md-9 {
    text-align: center;
  }
  .gotop {
    margin: 10px;
    width: 40px;
    height: 37px;
    font-size: 20px;
    padding-left: 8px;
  }
}
/* Desktop small screen */
/* Desktop large screen */
